
*{
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}

.frame {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 100%;
  text-align: center;
  -webkit-transform: translateY( -50% );
  -moz-transform: translateY( -50% );
  transform: translateY( -50% );
}
.frameV {
  position: absolute;
  top: 50%;
  left: 0;
  width:100%;
  text-align: center;
  -webkit-transform: translateY( -50% );
  -moz-transform: translateY( -50% );
  transform: translateY( -50% );
}
#menu{
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  text-align: center;
  -webkit-transform: translateY( -50% );
  -moz-transform: translateY( -50% );
  transform: translateY( -50% );

}

#menu table tr td,#menu th{
  border: 2px solid #661400;
  padding: 15px;
  background-color: #ff471a;
  border-radius: 20px;
}
.questao{
  width: 400px;
}
#menu table{
  background: rgba(255, 153, 128,0.6);
  rgb(255, 153, 128)
  border: 2px solid #661400;
  border-radius: 20px;
}
#menu{
  visibility:hidden;
}
#time,#duracao{
  visibility:hidden;
}
/* video */
.embed {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 100%;
}

.embed-16by9 {
  padding-top: 56.25%;
}

.embed-item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
