.menu11{
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  text-align: center;
  -webkit-transform: translateY( -50% );
  -moz-transform: translateY( -50% );
  transform: translateY( -50% );

}

.questao2 table tr td,th{
  border: 2px solid #661400;
  padding: 15px;
  background-color: #ff471a;
  border-radius: 20px;
}
.questao12{
  width: 400px;
}
.menu2 table{
  background: rgba(255, 153, 128,0.6);
  rgb(255, 153, 128)
  border: 2px solid #661400;
  border-radius: 20px;
}
